<div class="experiencia">
    <div class="contenido">
        <h2 class="titulo">{{ 'experiencia.titulo' | translate }}</h2>

        <!-- Línea de tiempo vertical -->
        <div class="timeline">
            <div class="trabajo" *ngFor="let trabajo of trabajos">

                <!-- Punto en la línea -->
                <div class="punto"></div>

                <!-- Tarjeta de experiencia -->
                <div class="tarjeta">
                    <div class="tarjeta-cabecera">
                        <div>
                            <h3 class="puesto">{{ trabajo.puestoKey | translate }}</h3>
                            <p class="empresa">{{ trabajo.empresa }}</p>
                        </div>
                        <span class="periodo">{{ trabajo.periodoKey | translate }}</span>
                    </div>

                    <!-- Lista de tareas -->
                    <ul class="descripcion">
                        <li *ngFor="let key of trabajo.descripcionKeys">
                            {{ key | translate }}
                        </li>
                    </ul>

                    <!-- Iconos de tecnologías -->
                    <app-tech-icons [tecnologias]="trabajo.tecnologias"></app-tech-icons>
                </div>
            </div>
        </div>
    </div>
</div>