<div class="tecnologias">
    <div class="contenido">
        <h2 class="titulo">{{ 'tecnologias.titulo' | translate }}</h2>

        <div class="grupo">
            <h3 class="subtitulo">{{ 'tecnologias.domino' | translate }}</h3>
            <div class="grid-iconos">
                <div class="icono-item" *ngFor="let tech of domino">
                    <i *ngIf="tech.icono" [class]="tech.icono + ' colored'"></i>
                    <img *ngIf="tech.imagen" [src]="tech.imagen" [alt]="tech.nombre" class="icono-imagen" />
                    <span>{{ tech.nombre }}</span>
                </div>
            </div>
        </div>

        <div class="grupo">
            <h3 class="subtitulo">{{ 'tecnologias.herramientas' | translate }}</h3>
            <div class="grid-iconos">
                <div class="icono-item" *ngFor="let tech of herramientas">
                    <i *ngIf="tech.icono" [class]="tech.icono + ' colored'"></i>
                    <img *ngIf="tech.imagen" [src]="tech.imagen" [alt]="tech.nombre" class="icono-imagen" />
                    <span>{{ tech.nombre }}</span>
                </div>
            </div>
        </div>

        <div class="grupo">
            <h3 class="subtitulo">{{ 'tecnologias.aprendiendo' | translate }}</h3>
            <div class="grid-iconos">
                <div class="icono-item" *ngFor="let tech of aprendiendo">
                    <i *ngIf="tech.icono" [class]="tech.icono + ' colored'"></i>
                    <img *ngIf="tech.imagen" [src]="tech.imagen" [alt]="tech.nombre" class="icono-imagen" />
                    <span>{{ tech.nombre }}</span>
                </div>
            </div>
        </div>
    </div>
</div>