<div class="contacto">
    <div class="contenido">
        <h2 class="titulo">Contacto</h2>
        <p class="subtitulo">{{ 'contacto.subtitulo' | translate }}</p>

        <div class="tarjetas">

            <a href="tel:+34695581816" class="tarjeta">
                <i class="fa-solid fa-phone icono"></i>
                <div class="info">
                    <span class="etiqueta">{{ 'contacto.telefono' | translate }}</span>
                    <span class="valor">+34 695 58 18 16</span>
                </div>
            </a>

            <a href="mailto:tuemail@gmail.com" class="tarjeta">
                <i class="fa-solid fa-envelope icono"></i>
                <div class="info">
                    <span class="etiqueta">{{ 'contacto.email' | translate }}</span>
                    <span class="valor">proalob&commat;gmail.com</span>
                </div>
            </a>

            <a href="https://www.linkedin.com/in/alejandro-r-68abb4239/" target="_blank" class="tarjeta">
                <i class="fa-brands fa-linkedin icono"></i>
                <div class="info">
                    <span class="etiqueta">LinkedIn</span>
                    <span class="valor">Alejandro-r</span>
                </div>
            </a>

            <div class="tarjeta no-link">
                <i class="fa-solid fa-location-dot icono"></i>
                <div class="info">
                    <span class="etiqueta">{{ 'contacto.ubicacion' | translate }}</span>
                    <span class="valor">{{ 'contacto.ubicacion' | translate }}</span>
                </div>
            </div>
        </div>
    </div>
</div>